.test {
    

    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
   
        }

        @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
        }

        /* Firefox < 16 */
        @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
        }

        /* Safari, Chrome and Opera > 12.1 */
        @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
        }

        /* Internet Explorer */
        @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
        }

        /* Opera < 12.1 */
         @-o-keyframes fadein {
         from { opacity: 0; }
         to   { opacity: 1; }
        }
    
   



#navList{

    padding-left: 280px;
    


}

#id{

    padding-left:700px;

}

.showCart{

    display: block;



}

.hideCart{

    display: none;

}

#cart{
    
    position: fixed; 
    z-index: 1; 
    top: auto;
    right: 5px; 
    width: 700px; 


}
